<div *ngIf="showAll" class="row m-0 h-100">
    <div class="display d-flex col-12 col-lg-6 h-100 align-items-center justify-content-center">
        <div class="topControls col-12 col-lg-6 position-absolute px-2 px-sm-5 px-lg-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <div class="d-flex flex-row position-relative w-100 m-5 mb-0 mb-lg-5">
                <div class="d-flex flex-row flex-lg-column justify-content-between col-12 col-lg-auto">
                    <button type="button" [ngClass]="{'active': spin}" class="btn btn-primary whiteBtn playBtn m-2" (click)="spin ? stop() : playSounds()">
                        <span class="d-none d-md-inline">{{spin ? 'Stop' : 'Play'}} </span>
                        <i *ngIf="!spin" class="mx-1 fas fa-play"></i><i *ngIf="spin" class="mx-1 fas fa-stop"></i>
                    </button>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-primary whiteBtn m-2" (click)="clear()">Clear</button>
                        <button type="button" class="btn btn-primary whiteBtn m-2" (click)="reset()">Randomise</button>
                    </div>
                </div>
                <button type="button" class="d-none d-lg-inline btn h-25 my-auto controlModalBtn btn-primary grayBtn mx-2"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="button" class="dropdown-item" (click)="controlModal=true">Help</a></li>
                    <li><a type="button" class="dropdown-item" (click)="loggedIn ? saveWheel() : registrationModal=true">Save wheel</a></li>
                    <li *ngIf="loggedIn"><a type="button" class="dropdown-item" (click)="openSavedWheels()">Load Wheel</a></li>
                    <li *ngIf="loggedIn"><a type="button" class="dropdown-item" (click)="onLogout()">Log Out</a></li>
                    <li *ngIf="!loggedIn"><a type="button" class="dropdown-item" (click)="loginModal=true">Log in</a></li>
                </ul>
            </div>
            <div class="d-flex w-100 flex-row justify-content-between">
                <button type="button" class="d-lg-none btn h-25 my-auto controlModalBtn btn-primary grayBtn mx-2"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="button" class="dropdown-item" (click)="controlModal=true">Help</a></li>
                    <li><a type="button" class="dropdown-item" (click)="loggedIn ? saveWheel() : registrationModal=true">Save wheel</a></li>
                    <li *ngIf="loggedIn"><a type="button" class="dropdown-item" (click)="openSavedWheels()">Load Wheel</a></li>
                    <li *ngIf="loggedIn"><a type="button" class="dropdown-item" (click)="onLogout()">Log Out</a></li>
                    <li *ngIf="!loggedIn"><a type="button" class="dropdown-item" (click)="loginModal=true">Log in</a></li>
                </ul>
                <div class="scaleControl d-flex flex-row flex-lg-column flex-xl-row w-100 me-3 me-lg-5 mt-2 mt-lg-0 justify-content-end align-items-center justify-content-xl-end">
                    <span class="me-2 me-lg-0 me-xl-2">Scale</span>
                    <div class="text-center">
                        <button *ngFor="let s of scales" [ngClass]="{'active': scaleIndex+1==s}" 
                        (click)="changeScale(s)" class="scale">{{s}}</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="line d-flex position-absolute"></div>
        <div *ngFor="let instrument of instruments" class="wheel d-flex align-items-center justify-content-center">
            <app-beat-layer [instrument]="instrument" [activeInstrument]="instrumentChange" [spin]='spin' [savedWheel]="wheelId ? true : false" (selectInstrument)="selectInstrument(instrument)"
            [notesChanged]="notesChanged" class="layer d-flex position-absolute overflow-hidden" [ngStyle]="calculatePieSize(instrument)"></app-beat-layer>
        </div>

        <div class="chooseInstrument position-absolute text-center">
            <button *ngFor="let instrument of instruments" class="btn m-2 m-lg-3 instrumentBtn" (click)="selectInstrument(instrument)"
            [ngClass]="{'active': instrument == activeInstrument}" [ngStyle]="{'background-color': instrument.colours[0], 'border-color': instrument.colours[0],
                'color': instrument.name=='Hi-Hat' ? 'rgb(127,119,0)' : (instrument.name=='808' || instrument.name=='Synth') ? instrument.colours[2] : instrument.colours[1]}">
                {{instrument.name}}
            </button>
        </div>
    </div>

    <div *ngFor="let instrument of instruments" [ngClass]="{'hidden': instrument != activeInstrument}" class="edit d-flex col-12 col-lg-6 h-100 align-items-center justify-content-center">
        <app-layer-edit class="w-100 h-100 d-flex justify-content-center align-items-center overflow-hidden" [instrument]="instrument" [instrumentChange]="instrumentChange" (notesChanged)="notesChanged.emit()"
        [spin]="spin" [clearAll]="clearAll" [editing]="editing" (editActive)="editing=!editing" [solo]="solo" (soloActive)="soloActive(instrument)" (deselectInstrument)="deselectInstrument()"></app-layer-edit>
    </div>

    <div *ngIf="!activeInstrument.name" class="helpText p-5 text-center d-none d-lg-flex col-6 h-100 align-items-center justify-content-center">
        <h1>Select an instrument to edit it</h1>
    </div>
</div>

<div [@modalFadeIn]="introModal">
    <app-modal *ngIf="introModal" class="position-relative">
        <div class="mp1 text-center">
            <h2 class="mh2 my-3">Beat Wheel</h2>
            <p class="mp">Please turn on your sound</p>
        </div>
    </app-modal>
</div>

<div [@modalFadeIn]="registrationModal">
    <app-modal *ngIf="registrationModal" class="position-relative">
        <div class="mp1 text-center">
            <button class="close position-absolute" (click)="registrationModal=false"><i class="fas fa-xmark fs-5"></i></button>
            <app-registration (registrationSuccessful)="registered()"></app-registration>
            <button type="button" (click)="registrationModal=false; loginModal=true;" class="btn btn-primary grayBtn w-100 mt-3">
                Already registered? Log in
            </button>
        </div>
    </app-modal>
</div>

<div [@modalFadeIn]="loginModal">
    <app-modal *ngIf="loginModal" class="position-relative">
        <div class="mp1 text-center">
            <button class="close position-absolute" (click)="loginModal=false"><i class="fas fa-xmark fs-5"></i></button>
            <app-login (loginSuccessful)="loginModal=false; openSavedWheels(); loggedIn=true"></app-login>
        </div>
    </app-modal>
</div>

<div [@modalFadeIn]="savedWheelsModal">
    <app-modal *ngIf="savedWheelsModal" class="position-relative">
        <div class="mp1 text-center">
            <button class="close position-absolute" (click)="savedWheelsModal=false"><i class="fas fa-xmark fs-5"></i></button>
            <app-saved-wheels *ngIf="loggedIn" [hihat]="hihat" (selectWheel)="selectWheel($event)" (continue)="savedWheelsModal=false;" (unauthorized)="loggedIn=false; savedWheelsModal=false; loginModal=true;"></app-saved-wheels>
            <button *ngIf="!loggedIn" type="button" (click)="savedWheelsModal=false; loginModal=true;" class="btn btn-primary grayBtn w-100 mt-3">
                Log in to view saved wheels
            </button>
        </div>
    </app-modal>
</div>

<div [@modalFadeIn]="controlModal">
    <app-modal *ngIf="controlModal" class="position-relative">
        <div class="mp1 text-center">
            <h2 class="mh2 my-3">Controls</h2>

            <p class="mp">Click 'Play' to start the music loop. If for any reason the music falls out of sync with the notes in the view,
            click 'Stop' then 'Play' again to re-align them. If you're in Safari and there's no sound, switching to Chrome or Firefox may fix the issue.</p>

            <p class="mp">The circles on the left represent 5 instruments you would commonly hear in a trap beat. From the center: kick, 808, snare, hi-hat, synth.
            Click any circle (or its label below) to view it on the right side, where you can drag the wheel to change its pitch/fade, or change the individual 
            notes by clicking 'Edit'. Clicking 'Solo' will isolate that instrument, muting all others.</p>

            <p class="mp">In the bar graph view, click on a note to select it. Drag the bar across the graph to
                change its position. Drag the top marker up/down to change the note's volume.
                If the instrument is '808' or 'Synth', you can use the markers on the left and right to change the note's length.
                These two instruments also allow you to change the sound of the note by clicking the circles next to 'Note' underneath the graph. 
            </p>
        </div>

        <button type="button" class="btn mbtnClose btn-primary whiteBtn m-2" (click)="controlModal=false">Continue</button>
    </app-modal>
</div>