<div class="graph position-relative m-5 h-100 w-100">

    <p class="header">{{instrument.name}}</p>

    <ul class="controls position-absolute d-flex flex-column justify-content-end">
        <li>Tempo
            <button *ngFor="let t of tempos" [ngClass]="{'active': instrument.tempo==t}" 
            (click)="changeTempo(t)" class="tempo">{{t}}</button>
        </li>
        <li><button [ngClass]="{'active': editing}" class="control mt-1" (click)="editToggle()">Edit</button></li>
        <li><button [ngClass]="{'active': solo}" class="control" (click)="soloToggle()">Solo</button></li>
    </ul>

    <div class="graph-box-outer d-flex position-relative h-75 w-75">
        <div class="left-axis d-flex position-absolute w-0 h-100">
            <p class="label position-absolute mt-5">Pitch</p>
            <i class="fas fa-angle-up position-absolute"></i>
        </div>
        <div class="right-axis d-flex position-absolute justify-content-end h-0 w-100">
            <p class="label position-absolute ml-5">Fade</p>
            <i class="fas fa-angle-right position-absolute"></i>
        </div> 

        <div #dragPlane class="graph-box-inner position-relative h-75 w-75">
            <!-- (cdkDragMoved)="" -->
            <div #pie [ngClass]="{'faded': editing}" class="pie position-absolute" cdkDrag cdkDragBoundary=".graph-box-inner" 
            (cdkDragStarted)="dragStart($event)" (cdkDragEnded)="dragEnd($event)">
                <div class="line d-flex position-absolute"></div>
                <div [ngClass]="{'spin': spin}" [ngStyle]="{'animation-duration': 14.4/instrument.tempo + 's'}">
                    <app-note-edit *ngFor="let note of instrument.notes" [instrument]="instrument" [note]="note" [notesChanged]="notesChanged"></app-note-edit>
                </div>
            </div> 
        </div>  
    </div>

    <div [ngClass]="{'hidden': !editing}" class="bar-view position-absolute w-75 h-50">
        <app-bar-view [instrument]="instrument" [clearAll]="clear" [editing]="editing" [loop]="spin" (notesChanged)="notesChanged.emit()" (exit)="editToggle()"></app-bar-view>
    </div>

    <input (change)=changeVolume($event) class="mt-4 volume" type="range" min="0.0" max="1.0" step="0.01"
        value='{{instrument.volume/10}}' list="volumes" name="volume">
    <span class="m-3">Volume</span>

</div>